.expense-tracker {
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #023047;
}

.expense-tracker h1 {
    font-size: 40px;
}

.summary {
    display: flex;
    flex-direction: row;
}

.expense {
    margin-left: 10px;
}

.inputs {
    margin-top: 4.5rem;
}

.inputs p {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.radio-btns {
    font-size: 14px;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.expense-tracker button {
    background-color: #023047;
    margin-top: 1rem;
    border: none;
    color: white;
    padding: 5px 15px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 0px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}

.profile-photo {
    width: 200px;
    border-radius: 50%;
}

.signout-btn {
    border: none;
    margin-top: 50px;
    width: 150px;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
}

.signout-btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

.transactions {
    margin-left: 430px;
    margin-top: 20px;
    width: 600px;
    height: 400px;
    overflow: auto;
    padding-left: 20px;
    border: 3px solid #023047;
}
.ending{
    margin-top: 20px;
}