.start{
    text-align: center;
}
.expense-tracker {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #023047;
}

.container {
    display: flex;
    flex-direction: row;
}
.summary {
    display: flex;
    flex-direction: row;
}
.income {
    margin: 0 20px;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.description{
    margin-right: 1rem;
}
.inputs p {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.radio-btns {
    font-size: 14px;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.expense-tracker button {
    background-color: #023047;
    border: none;
    color: white;
    padding: 5px 15px;
    margin: 1rem 1.25rem;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-photo {
    width: 200px;
    border-radius: 50%;
}

.signout-btn {
    border: none;
    width: 150px;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
}

.signout-btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

.transactions-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transactions {
    /* margin-left: 430px;
    margin-top: 20px; */
    width: 600px;
    height: 400px;
    overflow: auto;
    padding-left: 20px;
    border: 3px solid #023047;
    font-size: 14px;
}
.ending{
    margin-top: 20px;
}